body {
    font-family: Arial, sans-serif;
    background-color: #72d3ef; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}
.site-header {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
h1 {
    width: 360px;
    font-size: 36px;
    line-height: 40px;
}

.result{
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.answer{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

h2 {
    padding: 12px;
}

.answer label {
    padding: 10px;
    font-size: 20px;

}

.answer input {
    accent-color: #67bed5;
    margin-right: 10px;
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.answer input:checked + label {
    color: #67bed5;
    font-weight: bold;
    
}

.main_nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#continue_btn{
    background: linear-gradient(90deg, #2fbd1c, #19b604);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
    
}

#continue_btn:hover{
    background: linear-gradient(90deg, #249617, #138d03);
}




.site-footer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#back-to-site_btn{
    background: linear-gradient(90deg, #35b0d2, #4dc3e4);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
}

#back-to-site_btn:hover{
    background: linear-gradient(90deg, #2a8da7, #3aa8c5);
}

#redo-test_btn{
    display: none;
    background: linear-gradient(90deg, #35b0d2, #4dc3e4);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
}



#redo-test_btn:hover{
    background: linear-gradient(90deg, #2a8da7, #3aa8c5);
}